name: Get IP

on:
  schedule:
    - cron: "* */2 * * *"
  workflow_dispatch:          # 手动触发
env:
  TZ: 'Asia/Shanghai'
jobs:
  fetch-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 添加写入权限

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4  # 升级到 v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests
          
      - name: Run 获取IP 
        run: python IP_Scan/Get_ip.py    
        
      - name: Commit and push changes
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "Get ip更新 $(date '+%Y-%m-%d %H:%M:%S')" || echo "没有更改可提交"
          git push origin main
