name: IP-Scan

on:
  schedule:
    - cron: '0 23,6 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0   
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          cd IP_Scan
          pip install -r requirements.txt
          
      - name: 获取和更新IP
        run: |
          cd $GITHUB_WORKSPACE
          python IP_Scan/ip-Scan.py
          
      - name: 提交更改
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git pull origin main
          git add .
          git commit -m "更新IP配置" || echo "没有更改可提交"
          git push origin main
